<mat-card class="rpassword">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h3 class="info-text mat-headline">Create new job post</h3>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Job Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a valid job title.</mat-error>
    </mat-form-field>


    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Job Description"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter valid job description.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="salary" placeholder="Salary ($/hr)">
      <mat-error *ngIf="form.get('salary').invalid">Please enter valid salary in $ per hour.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        placeholder="Job type"
        formControlName="type"
      >
        <mat-option *ngFor="let event of events" [value]="event.value">
          {{ event.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('type').invalid">Please enter valid job type.</mat-error>
    </mat-form-field>
     <mat-form-field>
      <input matInput type="text" formControlName="skills" placeholder="Required Skills">
      <mat-error *ngIf="form.get('skills').invalid">Please enter valid skills.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="companyname" placeholder="Company Name">
      <mat-error *ngIf="form.get('companyname').invalid">Please enter valid company name.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick company logo</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <div class="image-preview" *ngIf = "mode === 'edit' && imagePreview === '' ">
      <img [src] = "post?.imagePath" class="img-fluid" [alt] = "form.value.title">
    </div>
    <br>
    <mat-form-field>
      <input matInput type="text" formControlName="companydescription" placeholder="Company Description">
      <mat-error *ngIf="form.get('companydescription').invalid">Please enter valid company description.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        formControlName="city"
        placeholder="Location"
      />
      <mat-error *ngIf="form.get('city').invalid">Please enter valid city.</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [matDatepicker]="picker"
        placeholder="Created On"
        (dateInput)="addEvent('input', $event)"
        (dateChange)="addEvent('change', $event)"
        [formControlName]="'createddate'"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [matDatepicker]="picker"
        placeholder="Ends On"
        (dateInput)="addEvent('input', $event)"
        (dateChange)="addEvent('change', $event)"
        [formControlName]="'enddate'"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('enddate').invalid">Please enter valid date.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" class="centerbutton">Create Post</button>
  </form>
</mat-card>
