<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h1 class="info-text mat-headline">Confirm deletion</h1>
    <form [formGroup]="form" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Job Title">

      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="companyname" placeholder="Company Name">
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          ngx-google-places-autocomplete

          formControlName="city"
          placeholder="Location"
        />

      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Start Date"
          [formControlName]="'startdate'"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerEnd"
            placeholder="End Date"
            [formControlName]="'enddate'"

          />
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      <mat-form-field>
          <textarea matInput rows="4" formControlName="content" placeholder="Job Description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="warn" type="button" (click)= "onDelete()">DELETE</button> &nbsp; &nbsp;
        <button mat-raised-button color="primary" type="submit" [routerLink]="['/profile']" routerLinkActive="router-link-active" >CANCEL</button>
    </form>
  </mat-card>

